body {
  color: tomato;
  background: #fafad2;
  
}

hr {
    height: 2px;
    border: none;
    background-color: tomato;
}

ul {
    list-style-type: square;
}

img {
  width: 400px;
  border: 3px solid tomato;  
  padding: 10px;
  background : white;
  
}
